h02668
s 00000/00000/00270
d D 1.3 03/12/16 22:18:32 boiarino 4 3
c .
e
s 00001/00001/00269
d D 1.2 02/03/26 15:16:33 boiarino 3 1
c *** empty log message ***
e
s 00000/00000/00000
d R 1.2 01/11/19 16:30:39 Codemgr 2 1
c SunPro Code Manager data about conflicts, renames, etc...
c Name history : 1 0 clas/cmon/run0/cmon.config
e
s 00270/00000/00000
d D 1.1 01/11/19 16:30:38 boiarino 1 0
c date and time created 01/11/19 16:30:38 by boiarino
e
u
U
f e 0
t
T
I 1
C=============================================C
C                                             C
C          Control Cards for CMON             C
C                                             C
C=============================================C
C
C
C MODE   -interactive/batch
C
C---------- MODE 'INT ' or 'BAT '
MODE             'BAT '
C
C
C geometry file
C
GBOS sdageom.bos
C
C
C road dictionary file name for pattern recognition
C
DICT prlink_p1920_0_0_0.5_3.0.bos
C
C
C magnetic fields
C
BTOR bgrid_tC.fpk
C BTOR bgrid_t.fpk
BMIN bgrid_m.fpk
BPOL bgrid_p.fpk
C
C
C calibration file - old SDA style
C
CBOS cal_48_r22940.bos
C
C
C DEBU - list of packeges we want to deliver extra information
C        (histograms for calibration etc)
C
DEBU TGLIB
C
C
C Run#    -Select Run# to be simulated (write) or/and analyzed (read/write) 
C Nevt    -No of events to be analyzed (or simulated) for a given Run#
C --------------------- Debuging ---------------------------------------------
C Ndbg    -No of events (first) to be debuged (some printout for BAT mode)
C Nsect   -Sector# to be analyzed (if Nsect = 0 all 6 sectors will be analyzed)
C---------------------- Trigger Keys -----------------------------------------
C If SC_trig = 1  -SCplane#1 included in the trig. simulation (if 0 all planes).
C If CC_trig = 1  -Cerenkov Counter included in the TRIG simulation.
C If EC_trig = 1  -Shower Counter (EC) included in the TRIG simulation.
C
C --------- TRIG   Run#   Nevt  Ndbg  Nsect    SC_trig CC_trig EC_trig
C
TRIG              28996  2000000000    2      1         0       0       0
C
C
C ---------- I/O Options: Data, Calib, Geom, B-field, Beam, Target -----------
C
C If 'NONE' and[opt] 'WDST'  (User reads EVB [data] & CMON writes DST)
C If 'SIM ' and[opt] 'WSIM'  (CMON simulates events  & CMON writes EVB)
C If 'REVB' and[opt] 'WDST'  (CMON reads  EVB [data] & CMON writes DST)
C
C Input to CMON (Data or simulated Data)
C       If "REVB" user have to set: "REVB /xx/.../zz/fn.ft" in "sdarun" file
C
C Output of CMON
C       If "WDST" user have to set: "WDST /xx/.../zz/fn.ft" in "sdarun" file
C           otherwise file "DSTxxxxx.A00" will appear in your directory
C       If "WSIM" user have to set: "WSIM /xx/.../zz/fn.ft" in "sdarun" file
C           otherwise file "SIMxxxxx.A00" will appear in your directory
C
C
EVBU     'SIM '
C
C
C MAGN:  TABL, TORU, MINT, POLT, UNIF or NONE  and  +/-Itorus  Iminit  Bpolt
C Itorus: 0.0 - 3860.0 [A]   Iminit: 0.0 - 8000.0 [A]  Bpolt: 0.0 - 124.0 [A]
C ---------      MGTYP  +/-Itorus  +/-Iminit  +/-Bpolt
C g1  MAGN            'TABL'     1920.0        0.0       0.0
D 3
MAGN            'TABL'     3375.0     6000.0       0.0
E 3
I 3
MAGN            'TABL'     2250.0     6000.0       0.0
E 3
C MAGN            'TABL'      750.0     6000.0       0.0
C g1  MAGN            'TABL'     1920.0        0.0       0.0
C eg1
C MAGN            'TABL'     2250.0        0.0     121.8
C eg200
C MAGN            'NONE'    0.0        0.0     0.0
C MAGN            'TABL'    1940.0        0.0     0.0
C
C
C Creating Table for 'TORU' or 'MINT' or "POLT' with "1" selected in GRID card
C
C   (1=Yes,0=No)  Nx    Ny    Nz    Xmin  Ymin    Zmin    DX    DY   DZ 
C GRID     1.       61.   41.   87.    -7.   -6.    -350.   7.    6.   10.
C Parameters for creating the Polarized Target Field map
C GRID     1.      401.    1.  601.   -0.5    0.     -0.5  0.5   0.0   0.5
C
C
C
C Option#1 for GEOM  'INIT'           (initialize geometry, just old way)
C Option#2 for GEOM  'INIT' 'WRIT'    (initialize and writes "sdageom.bos")
C Option#3 for GEOM         'READ'    (reads the "sdageom.bos" file)
GEOM                        'READ'
C
C
C
C Option#1 for CALI  'INIT'         (initialize calibration, just old way)
C Option#2 for CALI  'INIT' 'WRIT'  (initialize and writes "sdacal.bos")
C Option#3 for CALI         'READ'  (reads the "sdacal.bos" file)
CALI                        'READ'
C
C
C *** Target position (center) and target dimenssions (half length and radius)
C -------- TARG   Xtarg  Ytarg  Ztarg  HTargL  ZstartCnt      [beam || z-axis]
C
TARG               0.00   0.00  0.00   0.01     0.00
C
C
C *** Beam charge(Qbeam), E0 , Position(Xb,Yb), Direction(Theta,Phi) & SigmBeam
C                 E0            - initial electron beam energy
C                 Qbeam = 0.0   - for real photon beam at target
C                 Qbeam =-1.0   - for electron beam at target 
C ------------- Qbeam  E0     Xbeam  Ybeam  Theta   Phi   SigmB [beam || z-axis]
BEAM             0.0   6.0  0.00  0.000  0.000  0.000  0.010
C BEAM            -1.0   4.817  0.00  0.000  0.000  0.000  0.2
C
C
C Resolution Control for Trajectory Propagation in Magnetic Field (ANAL + SIM):
C like minimum Step, maximum Step and maximum Deflection Angle per Step
C
C -------- STEP  STEPmin  STEPmax  Dangle
STEP                1.0     10.0   0.01
C
C
C
C ================= E V E N T  A N A L Y S I S ===============================
C
C lanal(1) = 0  LEVEL=0  Read EVB (or Simulate EVB & Write FPACK File).
C                        If DST then CMON will produce histograms in batch mode
C lanal(1) = 1  LEVEL=1  Segment & Cluster Finding, and Cluster Linking
C lanal(1) = 2  LEVEL=2  Track Fitting to wire position only
C lanal(1) = 3  LEVEL=3  Identify Electron, get "dca", and Resolve L-R Amb
C lanal(1) = 4  LEVEL=4  Final Trajectory Fitting and Write DST
C
C lanal(2) = 0   Read Templets only    (no update)
C lanal(2) = 1   Write Templets only   (generate new templets)
C lanal(2) = 2   Read & Write Templets (update existing templets)
C lanal(2) = 3   Use new segment finding algorithm (no update)
C
C lanal(3)-lanal(8)  Minimum No of Hits/Segment in a given SuperLayer
C lanal(9)           Cut on Maximum No of Segments/Cluster in "ana_link" (<= 30)
C lanal(10)          Analysis of SIM data: 0 -without  1 -with dead channels
C                                          
C --- ANAL  Level Templs  SL1  SL2  SL3  SL4  SL5  SL6  MaxSeg DeadChannels
ANAL          4      1     3    4    4    4    4    4     15      0
C
C                                                           g1 runs only
C --- Nevt Nclust Nlink PRchi2 Finde LRchi2 FFchi2 Ntrk/ev  t0Tag  t0ToF
CUTS   0.0   6.0   6.0   10.0   1.0   15.0   20.0    1.0    28.0  9.29
C CUTS   0.0   6.0   6.0   10.0   1.0   15.0   20.0    1.0    18.7  9.29
C CUTS   0.0   6.0   6.0   10.0   1.0   15.0   20.0    1.0    1.18  9.29
C
C CUTS   0.0   6.0   6.0   10.0   1.0   15.0   20.0    1.0    -8.30  20.00
C CUTS   0.0   6.0   6.0   10.0   1.0   15.0   20.0    1.0    -9.49  20.00
C CUTS   0.0   6.0   6.0   10.0   1.0   15.0   20.0    1.0     1.04   7.40
C CUTS   0.0   6.0   6.0   10.0   1.0   15.0   20.0    1.0     1.18  9.29
C
C
C -------- Removing layers (lout = 1 not exist, lout = 2 excluded from fit)
C    1 2 3 4 5 6*1 2 3 4 5 6*1 2 3 4 5 6*1 2 3 4 5 6*1 2 3 4 5 6*1 2 3 4 5 6
LOUT 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
C                           
C
C "iterm" - Maximum number of iterations (if iterm =< 0 no fit)
C "VerCon"- Vertex Constrain: 0. -unconstraind
C                             1. -transverse constraind (see SigmB const)
C                             2. -along the beam constraind (see HTatgL const)
C                             3. -both (along & transverse) constraind
C "TMflag" = 0. Transport Matrix is calculated for all iterations
C          = N  Transport Matrix is calculated only for the N first iterations
C                (only for fit with DriftTime used)
C "Chi_Dif" - Chi2 Difference (Default value for convergence is 0.1)
C
C ------ TFIT Iterm  VertC  TMflag  Chi_Dif  IPmin  IPmax
TFIT            4.     0.     2.      0.1     1.
C TFIT            5.     0.     2.      0.1     4.
C TFIT            3.     1.     0.      0.1     1.
C
C
C -------- MATX 'MATX' or 'DRV ' (Recommended: DRV with MAGN 'UNIF' or 'NONE')
MATX            'MATX'
C
C
C
C ================= U S E R  E V E N T  G E N E R A T O R S ==================
C
C --------- Initialize Random number
RNDM                   -1234567
C
C
C Choose your generator [ 1 > Type < 100 ]  see also the "user_evtgen" routine
C
C *** Simulation of Single Track in Sector#1 (to create R.T. & debugging ***
C 
C     IF Q = 0.  - neutral  particle
C        Q =-1.  - negative particle
C        Q = 1.  - positive particle
C        Q = .4  - 40% negative and 60% positive
C
C ---- Type  Q  Pmin  Pmax  THmin  THmax  PHImin  PHImax  Mass
KINE    1.  1. 0.5  1.0   1.   140.0   -25.0   25.0  0.0005
C KINE    1.  0.5 0.80  3.50   30.0   40.0   -10.0    10.0  0.140
C KINE    1.  0.5 0.80  3.50   30.0   40.0   -10.0    10.0  .00051
C
C
C *** Simulation of the Elastic Scattering:  e + p --> e + p  ***
C -------- KINE Type  Q2min  Q2max it_max Fermi
C KINE             2.    0.10    1.0    2.0    0.
C
C
C Here are two dummy examples
C
C *** Simulation of electroproduction:  e + p --> e + N + X  ***
C -------- KINE Type  Q2min   Q2max     ...
C KINE             x.    0.50    3.00     ...
C
C *** Simulation of photoproduction:    g + p --> N + M + X  ***
C -------- KINE Type  Egmin/E0  Egmax/E0  ...
C KINE             y.      0.30      0.90   ...
C
C ================== DC Res., Eff., M.S. and BGRD ============================
C
C  Mult = 0.  Multiple Scattering is OFF
C  Mult = 1.  Multiple Scattering is ON (Air & DC)
C  Mult = 2.  Multiple Scattering is ON (Air & DC & ST counter)
C  SigmDC     Drift Chamber Resolution [cm] for each superlayer
C  DCeff      Drift Chamber Cell Efficiency (1.0 means 100% efficient)
C
C --------- DERR Mult  {DC resolutions (Sigma) per SL}  DCeff DvConst(=1. SIM)
C e1 DERR               1.  0.044 0.044  0.052 0.052  0.052 0.059   0.98   0
C DERR               1.  0.055 0.058  0.062 0.070  0.079 0.100   0.98   0
C Used for generation of RT with "kine 1. ..."
C r DERR               1.  0.020 0.020  0.020 0.020  0.020 0.020   1.00   1.
C
DERR               1.  0.020 0.020  0.020 0.020  0.020 0.020   1.00   1.
C
C ---------- Simulation of Background in the Drift Chambers ---------
C Parameter  1 = 0. No BGRD simulation (Parameter 1 must be < 6)
C Parameters 2 - 7  are the number of hits per layer in given SL multiplied by
C                   a value of parameter 1 (uncorrelated BGRD).
C
C        1 x [ 2    3    4    5    6    7 ]
BGRD     0.   5.0  4.0  2.0  2.0  2.0  2.0 
C
C
C
C ================== D E B U G G I N G  S W I T C H E S ======================
C
C --------- PRNT  Init  Revb  Segm  PFit  LRam  FFit   DST
PRNT                 0     0     0     0     0     0     0
C
C ------- SWIT 1=1 debuging printout's (if Ndbg > 0)
SWIT  1=1
C
C ------ SWIT 2=0 Background added in all sectors otherwise in selected Sector
SWIT  2=1
C
STOP
C                  

E 1
