#                                      
#                                 
#                                      
#FADC250_CRATE jlab12vme                    
FADC250_CRATE all                    


FADC250_SLOT all

FADC250_DAC  3300

#FADC250_W_OFFSET  1200
#FADC250_W_WIDTH   400 


###FADC250_W_OFFSET  3300
#FADC250_W_WIDTH   400   

# units in ns (steps of 4 ns) (offset max: 4000. window max: 2000. offset must be > window)
FADC250_W_OFFSET  2000
FADC250_W_WIDTH   2000

#raw mode
FADC250_MODE      1
FADC250_NSB       20
FADC250_NSA       104
FADC250_NPEAK     1

#pulse mode
#FADC250_MODE      7
#FADC250_NSB       16
#FADC250_NSA       104
#FADC250_NPEAK     3

#       channel:        0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
FADC250_ADC_MASK        1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
FADC250_TRG_MASK        1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
FADC250_TET_IGNORE_MASK 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1

#pedestals
FADC250_PED 0
#Threshold
FADC250_TET 0
#Gain
FADC250_GAIN 1.0


#FADC250_SLOT     18
#FADC250_ADC_MASK  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0


#FADC250_SLOT      20
#FADC250_CH_TET    15   500
#       channel:        0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
#FADC250_TET_IGNORE_MASK 1  1  1  1  1  1  1  1  1  1  1  1  1  0  0  0


FADC250_CRATE end
